In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np

data=pd.read_csv('/content/drive/MyDrive/Python Assignment Data/Creditcard_data.csv')

In [ ]:
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,1
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [ ]:
data['Class'].value_counts()

0    763
1      9
Name: Class, dtype: int64

In [ ]:
data.shape

(772, 31)

In [ ]:
data.info

<bound method DataFrame.info of      Time        V1        V2        V3        V4        V5        V6  \
0       0 -1.359807 -0.072781  2.536347  1.378155 -0.338321  0.462388
1       0  1.191857  0.266151  0.166480  0.448154  0.060018 -0.082361
2       1 -1.358354 -1.340163  1.773209  0.379780 -0.503198  1.800499
3       1 -0.966272 -0.185226  1.792993 -0.863291 -0.010309  1.247203
4       2 -1.158233  0.877737  1.548718  0.403034 -0.407193  0.095921
..    ...       ...       ...       ...       ...       ...       ...
767   575 -0.572263  0.731748  1.541254  0.150506  1.108974  0.372152
768   579 -1.296845 -0.511605  2.404726 -0.310762 -0.319551 -0.542842
769   579  1.214170  0.210481  0.484651  0.479768 -0.261955 -0.527039
770   580  1.267030 -0.071114  0.037680  0.512683  0.242392  0.705212
771   581  1.153758  0.132273  0.382969  1.405063 -0.224287 -0.197295

           V7        V8        V9  ...       V21       V22       V23  \
0    0.239599  0.098698  0.363787  ... -0.018307  0.277838 -0.110474
1   -0.078803  0.085102 -0.255425  ... -0.225775 -0.638672  0.101288
2    0.791461  0.247676 -1.514654  ...  0.247998  0.771679  0.909412
3    0.237609  0.377436 -1.387024  ... -0.108300  0.005274 -0.190321
4    0.592941 -0.270533  0.817739  ... -0.009431  0.798278 -0.137458
..        ...       ...       ...  ...       ...       ...       ...
767  1.084879 -0.146329 -0.274447  ... -0.143508 -0.107582 -0.418263
768 -0.173310  0.260423 -1.202688  ... -0.071270 -0.161175  0.088496
769  0.021782 -0.106888 -0.037631  ... -0.224292 -0.594609  0.159877
770 -0.226582  0.109483  0.657565  ... -0.164468 -0.177225 -0.222918
771  0.020653  0.029260  0.412254  ... -0.107809 -0.125231 -0.057041

          V24       V25       V26       V27       V28  Amount  Class
0    0.066928  0.128539 -0.189115  0.133558 -0.021053  149.62      0
1   -0.339846  0.167170  0.125895 -0.008983  0.014724    2.69      1
2   -0.689281 -0.327642 -0.139097 -0.055353 -0.059752  378.66      0
3   -1.175575  0.647376 -0.221929  0.062723  0.061458  123.50      0
4    0.141267 -0.206010  0.502292  0.219422  0.215153   69.99      0
..        ...       ...       ...       ...       ...     ...    ...
767 -0.731029  0.877525 -0.364150 -0.177509 -0.256545   26.72      0
768  0.285390  0.281069 -0.370130  0.043410  0.092318   80.00      0
769  0.091873  0.140964  0.227406 -0.017389  0.016030    5.98      0
770 -1.245505  0.678360  0.525059  0.002920 -0.003333   12.36      0
771  0.073082  0.633977 -0.310685  0.033590  0.015250   13.79      0

[772 rows x 31 columns]>

In [ ]:
data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [ ]:
x1=data.iloc[:,:-1]
y1=data.iloc[:,-1]

In [ ]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
data = sc.fit_transform(x1)

In [ ]:
from imblearn.over_sampling import SMOTE
oversample = SMOTE()
x, y = oversample.fit_resample(x1,y1)

In [ ]:
x.shape

(1526, 30)

In [ ]:
y.shape

(1526,)

In [ ]:
y.value_counts()

0    763
1    763
Name: Class, dtype: int64

In [ ]:
y=pd.DataFrame(y)
x=pd.DataFrame(x)

In [ ]:
frames = [x,y]
df = pd.concat(frames,axis=1, join='inner')
df=pd.DataFrame(df)

Sample sizes for different samples

In [ ]:
#Simple Random sampling
import math

def sampling1():
  z=1.96
  p=0.5
  E=0.05
  n1=(z*z*p*(1-p))/(E*E)
  n1=math.ceil(n1)
  #n1=385
  sample1=df.sample(n=n1)
  return sample1

In [ ]:
#Systematic sampling
def sampling2():
  indexes = np.arange(0, len(df),step=4)
  systematic_sample = df.iloc[indexes]
  return systematic_sample

In [ ]:
#stratified sampling
def sampling3():
  z=1.96
  p=0.5
  E=0.05
  S=2
  n2=(z*z*p*(1-p))/((E/S)*(E/S))
  n2=math.ceil(n2)
  #n1=385
  sample3=df.groupby('Class', group_keys=False).apply(lambda x: x.sample(200))
  return sample3

In [ ]:
#cluster sampling
import random as rd

def sampling4():
  clusters=5
  df1=df
  state=None
  #print('define variables')
  length = len(df1)
  #print(f'  - length: {length}')
  element_max = length / clusters
  #print(f'  - elements by cluster: {element_max}')
    
  cluster_list = []
  cluster_id = 0
  element_count = 0
  #print('define clusters')
  for _ in df.iterrows():
      cluster_list.append(cluster_id)
      element_count += 1
      if element_count > (element_max - 1):
          element_count = 0
          cluster_id += 1
    
  df1['cluster'] = cluster_list
  #print(' - cluster list')
  #print(df1['cluster'].value_counts())
  #print('')
  rd.seed(state)
  cluster_selected = rd.randint(0, clusters - 1)
  #print('cluster selected:',cluster_selected)
  dataframe_clustered = df1[df1['cluster'] == cluster_selected]
  #print('cluster size:',dataframe_clustered.shape[0],'\n')
  sample=dataframe_clustered.iloc[:,:-1]
  return sample

sampling4()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
1220,433,-2.242445,0.956191,-0.697000,3.358025,0.145982,-0.974081,-2.441735,1.256575,-1.935179,...,0.496011,0.240450,-0.294363,0.056597,-0.014556,0.330805,0.174771,-0.149497,0.335854,1
1221,363,-1.895483,1.707269,-1.249701,3.319624,-0.287217,-1.133424,-2.042389,1.172927,-2.307698,...,0.404389,-0.095644,-0.357568,0.026004,-0.205905,0.159948,0.256010,-0.078041,0.172936,1
1222,39,1.213041,0.294416,0.212172,0.530448,-0.084940,-0.414243,-0.023175,-0.011631,-0.157805,...,-0.246543,-0.703849,0.110290,-0.111645,0.183556,0.115416,-0.013811,0.020156,2.690000,1
1223,510,-0.100211,0.968496,-0.422176,1.948651,-0.420324,-1.204061,-0.906754,0.399049,-1.044725,...,0.019002,-0.521829,-0.097853,0.334406,0.153945,0.126133,0.085585,-0.035325,0.799312,1
1224,541,-1.516098,0.075906,1.121705,-0.556612,0.825697,-0.349385,0.256103,0.114574,0.022795,...,-0.187514,-0.238713,-0.232955,-0.194365,-0.293744,0.229487,-0.321150,-0.352785,1.021533,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1520,407,-2.288233,1.941324,-1.596968,3.975677,-0.521083,-1.424132,-2.519700,1.380890,-2.751374,...,0.511828,-0.040329,-0.461226,0.320352,0.045706,0.177279,0.259241,-0.142105,0.008670,1
1521,481,-1.353103,-0.316142,1.610004,0.605783,1.045429,-0.933917,0.767824,-0.138750,-0.168002,...,0.185964,0.312338,0.070307,0.248928,0.368752,-0.391874,-0.134248,-0.093312,107.080506,1
1522,532,-1.713932,-2.243867,2.277111,1.100518,2.213949,0.448076,-1.916254,0.700495,0.875733,...,0.360053,1.018039,0.282866,-0.751519,-0.180576,0.793578,-0.115611,-0.153290,1.481526,1
1523,520,-1.469103,0.167599,1.371279,-0.377588,0.935839,-0.494344,0.471878,0.041809,-0.031590,...,-0.097787,-0.034632,-0.260578,-0.030384,-0.093602,0.009518,-0.265106,-0.297849,1.000000,1
1524,536,-1.750539,0.092328,1.128758,-0.559633,0.890549,-0.315441,0.210585,0.166708,-0.034765,...,-0.165022,-0.188764,-0.266118,-0.225852,-0.327129,0.239020,-0.332492,-0.378555,0.979156,1

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
model = LogisticRegression()
sample=sampling4()
trainx=sample.iloc[:,:-1]
trainy=sample.iloc[:,-1]
testx=x1
testy=y1
model.fit(trainx,trainy)
y_pred = model.predict(testx)
model_accuracy = accuracy_score(testy,y_pred)
print(model_accuracy)

0.9896373056994818

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

def train_model(model, sampling):
    #trainx, testx, trainy, testy = train_test_split(x,y,random_state=42, test_size=0.3)
    if(sampling=='sample1'):
      sample=sampling1()
    elif(sampling=='sample2'):
      sample=sampling2()
    elif(sampling=='sample3'):
      sample=sampling3()
    elif(sampling=='sample4'):
      sample=sampling4()
    trainx=sample.iloc[:,:-1]
    trainy=sample.iloc[:,-1]
    testx=x1
    testy=y1
    model.fit(trainx,trainy)
    y_pred = model.predict(testx)
    model_accuracy = accuracy_score(testy,y_pred)
    return model_accuracy

In [ ]:
#make models ki list
# train sample pe hoga and test original data pe hoga
from sklearn.naive_bayes import GaussianNB 
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier

def main():
  Naive_Bayes = GaussianNB()
  Logistic = LogisticRegression()
  Knn = KNeighborsClassifier(n_neighbors=5)
  SVM = SVC(kernel='linear') 
  Decision_tree = DecisionTreeClassifier(criterion = "gini", random_state = 100,max_depth=3, min_samples_leaf=5)
  models=[Naive_Bayes,Logistic,Knn,SVM,Decision_tree]
  #sample1=sampling1()
  samplings=['sample1','sample2','sample3','sample4']
  final=[]
  for i in range(4):
    final_sample=[]
    for j in range(5):
      score=train_model(models[j], samplings[i])
      final_sample.append(score)
    print(final_sample)
    final.append(final_sample)
  final=pd.DataFrame(final)
  print(final)

main()

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names seen at fit time, yet now missing:
- Class

  warnings.warn(message, FutureWarning)

ValueError: ignored