In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np

data=pd.read_csv('/content/drive/MyDrive/Python Assignment Data/Creditcard_data.csv')

In [ ]:
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,1
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [ ]:
data['Class'].value_counts()

0    763
1      9
Name: Class, dtype: int64

In [ ]:
data.shape

(772, 31)

In [ ]:
data.info

<bound method DataFrame.info of      Time        V1        V2        V3        V4        V5        V6  \
0       0 -1.359807 -0.072781  2.536347  1.378155 -0.338321  0.462388
1       0  1.191857  0.266151  0.166480  0.448154  0.060018 -0.082361
2       1 -1.358354 -1.340163  1.773209  0.379780 -0.503198  1.800499
3       1 -0.966272 -0.185226  1.792993 -0.863291 -0.010309  1.247203
4       2 -1.158233  0.877737  1.548718  0.403034 -0.407193  0.095921
..    ...       ...       ...       ...       ...       ...       ...
767   575 -0.572263  0.731748  1.541254  0.150506  1.108974  0.372152
768   579 -1.296845 -0.511605  2.404726 -0.310762 -0.319551 -0.542842
769   579  1.214170  0.210481  0.484651  0.479768 -0.261955 -0.527039
770   580  1.267030 -0.071114  0.037680  0.512683  0.242392  0.705212
771   581  1.153758  0.132273  0.382969  1.405063 -0.224287 -0.197295

           V7        V8        V9  ...       V21       V22       V23  \
0    0.239599  0.098698  0.363787  ... -0.018307  0.277838 -0.110474
1   -0.078803  0.085102 -0.255425  ... -0.225775 -0.638672  0.101288
2    0.791461  0.247676 -1.514654  ...  0.247998  0.771679  0.909412
3    0.237609  0.377436 -1.387024  ... -0.108300  0.005274 -0.190321
4    0.592941 -0.270533  0.817739  ... -0.009431  0.798278 -0.137458
..        ...       ...       ...  ...       ...       ...       ...
767  1.084879 -0.146329 -0.274447  ... -0.143508 -0.107582 -0.418263
768 -0.173310  0.260423 -1.202688  ... -0.071270 -0.161175  0.088496
769  0.021782 -0.106888 -0.037631  ... -0.224292 -0.594609  0.159877
770 -0.226582  0.109483  0.657565  ... -0.164468 -0.177225 -0.222918
771  0.020653  0.029260  0.412254  ... -0.107809 -0.125231 -0.057041

          V24       V25       V26       V27       V28  Amount  Class
0    0.066928  0.128539 -0.189115  0.133558 -0.021053  149.62      0
1   -0.339846  0.167170  0.125895 -0.008983  0.014724    2.69      1
2   -0.689281 -0.327642 -0.139097 -0.055353 -0.059752  378.66      0
3   -1.175575  0.647376 -0.221929  0.062723  0.061458  123.50      0
4    0.141267 -0.206010  0.502292  0.219422  0.215153   69.99      0
..        ...       ...       ...       ...       ...     ...    ...
767 -0.731029  0.877525 -0.364150 -0.177509 -0.256545   26.72      0
768  0.285390  0.281069 -0.370130  0.043410  0.092318   80.00      0
769  0.091873  0.140964  0.227406 -0.017389  0.016030    5.98      0
770 -1.245505  0.678360  0.525059  0.002920 -0.003333   12.36      0
771  0.073082  0.633977 -0.310685  0.033590  0.015250   13.79      0

[772 rows x 31 columns]>

In [ ]:
data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [ ]:
x1=data.iloc[:,:-1]
y1=data.iloc[:,-1]

In [ ]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
data = sc.fit_transform(x1)

In [ ]:
from imblearn.over_sampling import SMOTE
oversample = SMOTE()
x, y = oversample.fit_resample(x1,y1)

In [ ]:
x.shape

(1526, 30)

In [ ]:
y.shape

(1526,)

In [ ]:
y.value_counts()

0    763
1    763
Name: Class, dtype: int64

In [ ]:
y=pd.DataFrame(y)
x=pd.DataFrame(x)

In [ ]:
frames = [x,y]
df = pd.concat(frames,axis=1, join='inner')
df=pd.DataFrame(df)

Sample sizes for different samples

In [ ]:
#Simple Random sampling
import math

def sampling1():
  z=1.96
  p=0.5
  E=0.05
  n1=(z*z*p*(1-p))/(E*E)
  n1=math.ceil(n1)
  #n1=385
  sample1=df.sample(n=n1)
  return sample1

In [ ]:
#Systematic sampling
def sampling2():
  indexes = np.arange(0, len(df),step=4)
  systematic_sample = df.iloc[indexes]
  return systematic_sample

In [ ]:
#stratified sampling
def sampling3():
  z=1.96
  p=0.5
  E=0.05
  S=2
  n2=(z*z*p*(1-p))/((E/S)*(E/S))
  n2=math.ceil(n2)
  #n1=385
  sample3=df.groupby('Class', group_keys=False).apply(lambda x: x.sample(200))
  return sample3

In [ ]:
#cluster sampling
import random as rd

def sampling4():
  clusters=5
  df1=df
  state=None
  #print('define variables')
  length = len(df1)
  #print(f'  - length: {length}')
  element_max = length / clusters
  #print(f'  - elements by cluster: {element_max}')
    
  cluster_list = []
  cluster_id = 0
  element_count = 0
  #print('define clusters')
  for _ in df.iterrows():
      cluster_list.append(cluster_id)
      element_count += 1
      if element_count > (element_max - 1):
          element_count = 0
          cluster_id += 1
    
  df1['cluster'] = cluster_list
  #print(' - cluster list')
  #print(df1['cluster'].value_counts())
  #print('')
  rd.seed(state)
  cluster_selected = rd.randint(0, clusters - 1)
  #print('cluster selected:',cluster_selected)
  dataframe_clustered = df1[df1['cluster'] == cluster_selected]
  #print('cluster size:',dataframe_clustered.shape[0],'\n')
  sample=dataframe_clustered.iloc[:,:-1]
  return sample

In [ ]:
def sampling5():
    n=300
    def get_class_prob(x):
        weight_x = int(np.rint(n * len(x[x.Class != 0]) / len(df[df.Class != 0])))
        sampled_x = x.sample(weight_x).reset_index(drop=True)
        return (sampled_x)
        # we are grouping by the target class we use for the proportions

    weighted_sample = df.groupby('Class').apply(get_class_prob)
    #print(weighted_sample["Class"].value_counts())
    return (weighted_sample)
sample5=sampling5()
sample5=pd.DataFrame(sample5)
sample5

           Time        V1        V2        V3        V4        V5        V6  \
Class
1     0     329 -1.655748  1.636155 -1.277061  3.332871 -0.413114 -1.174717
      1     523 -1.861486 -2.120226  2.372997  1.015898  2.268054  0.400353
      2     139  0.696177  0.445227  0.373146  0.419685  0.193414 -0.445157
      3     496 -2.002072 -2.304511  0.899228  1.901717  0.943922 -1.065466
      4     415 -1.144108  0.216211  0.945877 -0.403514  0.888579 -0.113562
...         ...       ...       ...       ...       ...       ...       ...
      295   537 -1.786884 -0.417074  1.423066 -0.325395  1.204807 -0.128428
      296   487 -1.011264  0.173775  1.797437  0.256922  1.082380 -0.785039
      297    59  0.787020  0.369276  0.269796  0.327542  0.336191  0.038487
      298   480 -1.489507 -0.545399  1.567920  0.741576  1.070796 -0.944480
      299   430 -0.761159  0.423667  1.526260  0.171388  0.942480 -0.708925

                 V7        V8        V9  ...       V21       V22       V23  \
Class                                    ...
1     0   -2.076779  1.146878 -2.298975  ...  0.378032 -0.148136 -0.359079
      1   -1.722537  0.665806  0.816039  ...  0.376272  1.076862  0.225759
      2    0.185879 -0.040934 -0.039667  ... -0.212474 -0.619505  0.138927
      3    0.269569 -0.102299 -0.201847  ...  0.432022  0.131328  1.073713
      4    0.278018  0.140259 -0.024602  ... -0.162884 -0.254334 -0.126426
...             ...       ...       ...  ...       ...       ...       ...
      295 -0.169580  0.260050  0.195913  ... -0.068556  0.063763 -0.158685
      296  0.647189 -0.083305 -0.056735  ...  0.093971  0.352264 -0.214861
      297  0.056988  0.104792 -0.207507  ... -0.190656 -0.545734  0.119288
      298  0.732138 -0.133024 -0.176309  ...  0.224351  0.322274  0.175663
      299  0.781901 -0.107243 -0.138940  ...  0.033835  0.170827 -0.189804

                V24       V25       V26       V27       V28      Amount  Class
Class
1     0    0.196541  0.067497  0.168108  0.210537 -0.113675    0.503963      1
      1   -0.695976 -0.140159  0.690503 -0.122006 -0.165186    1.435159      1
      2   -0.466172 -0.543132  0.085580  0.097294  0.125138    1.886006      1
      3   -0.139582  0.265590 -0.087310 -0.196942  0.034597  401.225059      1
      4   -0.607035 -0.680830  0.186222 -0.155877 -0.182220    0.996719      1
...             ...       ...       ...       ...       ...         ...    ...
      295 -0.351717 -0.313705  0.354760 -0.304475 -0.344384    1.092185      1
      296  0.289023  0.343775 -0.351879 -0.106013 -0.129278    1.038777      1
      297 -0.710569 -0.396179  0.107620  0.078160  0.092714    2.074615      1
      298  0.205135  0.361574 -0.371983 -0.143812 -0.082897  141.125771      1
      299  0.093828  0.094420 -0.365643 -0.048416 -0.066443    0.998333      1

[300 rows x 31 columns]

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

def train_model(model, sampling):
    #trainx, testx, trainy, testy = train_test_split(x,y,random_state=42, test_size=0.3)
    if(sampling=='sample1'):
      sample=sampling1()
    elif(sampling=='sample2'):
      sample=sampling2()
    elif(sampling=='sample3'):
      sample=sampling3()
    elif(sampling=='sample4'):
      sample=sampling4()
    trainx=sample.iloc[:,:-1]
    trainy=sample.iloc[:,-1]
    testx=x1
    testy=y1
    model.fit(trainx,trainy)
    y_pred = model.predict(testx)
    model_accuracy = accuracy_score(testy,y_pred)
    return model_accuracy

In [ ]:
#make models ki list
# train sample pe hoga and test original data pe hoga
from sklearn.naive_bayes import GaussianNB 
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier

def main():
  Naive_Bayes = GaussianNB()
  Logistic = LogisticRegression()
  Knn = KNeighborsClassifier(n_neighbors=5)
  SVM = SVC(kernel='linear') 
  Decision_tree = DecisionTreeClassifier(criterion = "gini", random_state = 100,max_depth=3, min_samples_leaf=5)
  models=[Naive_Bayes,Logistic,Knn,SVM,Decision_tree]
  #sample1=sampling1()
  samplings=['sample1','sample2','sample3']#,'sample4']
  final=[]
  for i in range(3):
    final_sample=[]
    for j in range(5):
      score=train_model(models[j], samplings[i])
      final_sample.append(score)
    print(final_sample)
    final.append(final_sample)
  final=pd.DataFrame(final)
  return final

score=main()
score

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

[0.788860103626943, 0.8847150259067358, 0.6826424870466321, 0.883419689119171, 0.9041450777202072]

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

[0.6113989637305699, 0.8730569948186528, 0.6696891191709845, 0.8626943005181347, 0.8989637305699482]

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

[0.5867875647668394, 0.8769430051813472, 0.7189119170984456, 0.8873056994818653, 0.9106217616580311]

          0         1         2         3         4
0  0.788860  0.884715  0.682642  0.883420  0.904145
1  0.611399  0.873057  0.669689  0.862694  0.898964
2  0.586788  0.876943  0.718912  0.887306  0.910622

In [ ]:
Naive_Bayes = GaussianNB()
Logistic = LogisticRegression()
Knn = KNeighborsClassifier(n_neighbors=5)
SVM = SVC(kernel='linear') 
Decision_tree = DecisionTreeClassifier(criterion = "gini", random_state = 100,max_depth=3, min_samples_leaf=5)
models=[Naive_Bayes,Logistic,Knn,SVM,Decision_tree]
sample=sampling4()
a=[]
for model in models:
    trainx=sample.iloc[:,:-1]
    trainy=sample.iloc[:,-1]
    testx=x1
    testy=y1
    model.fit(trainx,trainy)
    y_pred = model.predict(testx)
    model_accuracy = accuracy_score(testy,y_pred)
    a.append(model_accuracy)
print(a)

[0.9727979274611399, 0.9883419689119171, 0.9883419689119171, 0.9883419689119171, 0.9883419689119171]

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [ ]:
newscore=list(score)
newscore.append(a)

          0         1         2         3         4
0  0.788860  0.884715  0.682642  0.883420  0.904145
1  0.611399  0.873057  0.669689  0.862694  0.898964
2  0.586788  0.876943  0.718912  0.887306  0.910622
0  0.972798       NaN       NaN       NaN       NaN
1  0.988342       NaN       NaN       NaN       NaN
2  0.988342       NaN       NaN       NaN       NaN
3  0.988342       NaN       NaN       NaN       NaN
4  0.988342       NaN       NaN       NaN       NaN

In [ ]:
print(score)

None